.App {
  text-align: center;
}

html {
  --main-fancy-color: #b7cd6c;
}



.re-box {
  border: 4px solid var(--main-fancy-color);
  border-radius: 8px;
  margin: 10px;
}

.col-map {
  min-width: 750px;
}